<div class="row">
    <div class="col-md-12">
        <div class="exhibition-label">{{exhibition.label}}</div>
        {{#if exhibition.title}}<h1>{{exhibition.title}}</h1>{{/if}}
    </div>
</div>

<div class="row">
    {{#if exhibition.images}}
    <div class="col-md-6 col-md-push-6 detail-images">
        <h2 class="sr-only">Exhibition Images</h2>

        <a href="{{exhibition.images.0.full-url}}" id='detail-image-link'><img src="{{exhibition.images.0.med-url}}" alt="" class="img-responsive detail-image"/></a>

        <ul class="detail-images-list">
        {{#each exhibition.images}}
            <li><a href="{{full-url}}" data-med-url="{{med-url}}"><img src="{{thumb-url}}" alt="{{title}}" /></a></li>
        {{/each}}
        </ul>
    </div>
    {{/if}}


    {{#if exhibition.description}}
    <div class="col-md-6{{#if exhibition.images}} col-md-pull-6{{/if}}">


        {{#eachNewLine exhibition.description}}
            <p>{{this}}</p>

        {{/eachNewLine}}

        {{#if exhibition.related-links}}
            <div class="related-links">
                <h2>Related links</h2>
                <ul class="related-links-list">
                {{#each exhibition.related-links}}
                    <li><a href="{{url}}">{{title}}</a></li>
                {{/each}}
                </ul>
            </div>
        {{/if}}

    </div>
    {{/if}}
</div>

