<div class="row home-objects">
    <section class="col-md-5 col-md-offset-1 object-of-week">
        {{#if home.object-of-week}}
            <h2>Object of the Week</h2>

            <a href="{{home.object-of-week.url}}">
            {{#if home.object-of-week.med-url}}
                <img src="{{home.object-of-week.med-url}}" alt="" class="img-responsive"/>
            {{/if}}
            <h3>{{home.object-of-week.title}}</h3>
                <small>{{home.object-of-week.designer}}<br />
                {{home.object-of-week.[date made]}}</small>
            </a>

        {{/if}}
    </section>

    <section class="col-md-5 featured-objects">
        {{#if home.featured-objects}}
        <h2>Featured Objects</h2>

            {{#if home.featured-objects.items}}
                <ul class="featured-objects-list">
                {{#each home.featured-objects.items}}
                    {{#if thumb-url}}
                    <li><a href="{{url}}" style="background-image: url({{thumb-url}})">
                    {{!-- <img src="{{thumb-url}}" alt="" /> --}}
                    </a></li>
                    {{/if}}
                {{/each}}
                </ul>
            {{/if}}

            {{#if home.featured-objects.archive-url}}
            <a href="{{home.featured-objects.archive-url}}" class="btn btn-primary">Featured object archive <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></a>
            {{/if}}

        {{/if}}

    </section>
</div>
