<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{title}} {{#if title}} | {{/if}}{{site.title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{assets}}/css/main.css" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <!--    Script below controls dropdown toggle and footer accordion. -->
        <script src="{{assets}}/js/umnhf-2015.js" type="text/javascript"></script>
        <script src="{{assets}}/js/html5shiv-printshiv.js" type="text/javascript"></script>
        <script src="{{assets}}/js/jquery.min.js" type="text/javascript"></script>
    </head>
    <body>
        <main role="main">
            <div class="container-fluid">




            {{>body}}
            </div>

        </main>




        <script src="{{assets}}/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="{{assets}}/js/bootstrap-tabcollapse.js" type="text/javascript"></script>
        <script src="{{assets}}/js/interaction.js" type="text/javascript"></script>

    </body>
</html>
